<div class=".container">
    <div class="row">
        <div class="col-md-6 center-block">
            <div class="list-group snippet-list">
            <a [routerLink]="['/add']" class="list-group-item active">
                <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-plus"></span> New snippet</h4>
            </a>
            <div class="list-group-item" *ngFor="let item of items | async">
                <div class="align-right">
                    <button type="button" (click)="remove(item.$key)" class="btn btn-lg btn-link glyphicon glyphicon-remove align-right list-group-item-heading"></button>
                </div>
                
                <div class="snippet">
                    <a [routerLink]="['/snippet', item.$key]">
                        <h4 class="list-group-item-heading">{{item.name}}</h4>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>