.snippet-list{
    margin-right: 20px;
    margin-left: 20px;
}
.center-block{
    float: none;
}
.align-right{
    float: right;
}
.snippet>a{
    color: #303030;
    text-decoration: none;
}
button.glyphicon-remove{
    padding-right: 0px;
    padding-top: 6px;
}